@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight:  300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

code,
pre {
    background: #333;
    color: #fff;
    padding: 10px;
    font-family: monospace;
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
    margin-bottom: -1px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover, .navbar a.active {
    border-bottom: 2px #fff solid;
}

.navbar .flex {
    justify-content: space-between;
}

/* Showcase */
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0px;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px
}

.showcase-text {
    animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    animation: slideInFromRight 1s ease-in;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
    border: 0;
    border-bottom:  1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus {
    outline: none;
}

.showcase::before,
.showcase::after {
    content: '';
    position: absolute;
    height:  100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: #fff;
    -webkit-transform: skewY(-3deg);
        -ms-transform: skewY(-3deg);
            transform: skewY(-3deg);
}

/* Stats */
.stats {
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in;
}

.stats-heading {
    max-width: 500px;
    margin: auto;
}

.stats .grid h3 {
    font-size: 35px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}

/*  Cli */
.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.cli-element {
    margin-left: 10%;
    background-color:#012240;
    min-height: 110px;
    padding: 0 10px;
    border-radius: 5px;
    width: 500px;
}

.cli-nav {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 20px;
}

.cli-nav .one{
    color:#ff5f56;
}
.cli-nav .two{
    color:#ffbd2e;
}
.cli-nav .three{
    color:#26c93f;
}

.cli-content {
    padding: 15px 0 20px 0;
}

.cli-content p {
    margin: 0;
    color: #88e1e5;
    font-family: monospace;
}

/* Cloud */
.cloud .grid {
    grid-template-columns: 4fr 2fr;
}

/* Languages */
.languages .flex {
    flex-wrap: wrap;
}
.languages .card {
    text-align: center;
    margin: 18px 10px 40px 10px;
    transition: transform 0.2s;
}

.languages .card:hover {
    transform: translateY(-15px);
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}


/* Features */
.features-head{
    position: relative;
}

.features-head::before,
.features-head::after {
    content: '';
    position: absolute;
    height:  50px;
    bottom: -30px;
    right: 0;
    left: 0;
    background-color: var(--primary-color);
    -webkit-transform: skewY(-1deg);
        -ms-transform: skewY(-1deg);
            transform: skewY(-1deg);
}
.features-head img, .docs-head img {
    width: 200px;
    justify-self: flex-end;
}

.features-sub-head img {
    width: 300px;
    justify-self: flex-end;
}

.features-main .card > i {
    margin-right: 20px;
}

.features-main .grid {
    padding: 30px
}

.features-main .grid >*:first-child {
    grid-column: 1 / span 3;
}

.features-main .grid >*:nth-child(2) {
    grid-column: 1 / span 2;
}

/* Docs */
.docs-head {
    position: relative;
}

.docs-head::before,
.docs-head::after {
    content: '';
    position: absolute;
    height:  50px;
    bottom: -30px;
    right: 0;
    left: 0;
    background-color: var(--primary-color);
    -webkit-transform: skewY(-1deg);
        -ms-transform: skewY(-1deg);
            transform: skewY(-1deg);
}

.docs-main h3 {
    margin: 20px 0;
}

.docs-main .grid {
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
}

.docs-main nav li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.docs-main a:hover {
    font-weight: bold;
}



/* Footer */
.footer .social a {
    margin: 0 10px;
}


/* Big Scree */
@media(min-width: 1500px) {
    .showcase::before,
    .showcase::after {
        -webkit-transform: skewY(-2deg);
            -ms-transform: skewY(-2deg);
                transform: skewY(-2deg);
    }
}

/* Tablet and under */
@media(max-width: 768px) {
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .features-main .grid,
    .docs-main .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-top: 40px;
    }

    .showcase-form {
        justify-self: center;
        margin: auto;
    }

    .cli .grid > *:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    .cli-element {
        background-color:#012240;
        min-height: 110px;
        padding: 0 10px;
        border-radius: 5px;
        width: 90%;
        margin: 0 auto;
    }

    .cloud img {
        margin: 0 auto;
        width: 80%;
    }

    .features-head,
    .features-sub-head,
    .docs-head {
        text-align: center;
    }

    .features-head img,
    .features-sub-head img,
    .docs-head img{
        justify-self: center;
    }

    .features-main .grid >*:first-child
    .features-main .grid >*:nth-child(2) {
        grid-column: 1;
    }


}

/* Animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}


/* Mobile */
@media(max-width: 500px) {
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0,0,0, 0.1);
    }

    .showcase-form {
        width: 300px;
    }

    .showcase-form h2 {
        margin-top: 0;
    }

    .languages .card {
        width: 110px;
    }
    
}